@page "/dashboard/applications"
@using OffLogs.Web.Services.Http
@using OffLogs.Business.Common.Models.Api.Request
@using OffLogs.Web.Core.Models.Modal
@using OffLogs.Web.Pages.Dashboard.Application.Add
@inject IApiService _apiService

<h1>Your application</h1>

<AddApplicationModal>
    bbbb
</AddApplicationModal>


@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var applications = await _apiService.GetApplications(new PaginatedRequestModel()
        {
            Page = 1
        });
        
        Console.WriteLine(applications);
    }
}
