@using OffLogs.Web.Services.Http
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using OffLogs.Api.Common.Dto.Entities
@using OffLogs.Api.Common.Dto.RequestsAndResponses.Board.User
@using OffLogs.Business.Common.Constants.Permissions
@using OffLogs.Web.Core.Models.Modal
@using System.Runtime.InteropServices
@using OffLogs.Web.Constants.Bootstrap
@inject ILogger<ShareApplicationModal> _logger
@inject IApiService _apiService
@inject ToastService _toastService

<ModalWindow
    IsShow="IsShowModal"
    Buttons="_modalButtons"
    IsLoading="_isLoading"
    Title="@Title"
    OnClose="OnClosed">
    
    <ul class="list-group">
        <OffLogs.Web.Shared.Ui.Form.SelectUserDropDown
            OnUserChanged="OnUserSelectedAsync"
        />
        <hr/>
        @foreach (var user in _sharedUsers)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @user.UserName
                <Icon Name="delete_forever"
                      Class="w-cursor-pointer"
                      @onclick="@(async () => await OnDeleteShareAsync(user))"/>
            </li>
        }
        @if (!_sharedUsers.Any())
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                This application was not shared yet
            </li>
        }
    </ul>
    
</ModalWindow>

@code {
    [Parameter]
    public bool IsShowModal { get; set; }
    
    [Parameter]
    public ApplicationListItemDto? Application { get; set; }
    
    [Parameter]
    public EventCallback OnClosed { get; set; }
    
    private List<ModalButtonModel> _modalButtons = new ();
    private bool _isLoading = false;
    private ApplicationListItemDto _application;
    private UsersListDto _sharedUsers = new();

    private string Title => $"Share with people: {_application?.Name}";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _modalButtons.Add(new (
            "Close",
            null,
            ColorType.Light
        ));
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (Application != null && _application != Application)
        {
            _application = Application;
            await LoadSharedUsersAsync();
        }
    }

    private Task OnUserSelectedAsync(UserDto user)
    {
        InvokeAsync(async () => await ShareForUserAsync(user));
        return Task.CompletedTask;
    }

    private Task OnDeleteShareAsync(UserDto user)
    {
        InvokeAsync(async () => await DeleteShareForUserAsync(user));
        return Task.CompletedTask;
    }
    
    private async Task ShareForUserAsync(UserDto user)
    {
        try
        {
            await _apiService.PermissionAddAccess(
                PermissionAccessType.ApplicationRead,
                user.Id,
                _application.Id
            );

            _toastService.AddInfoMessage($"Application was shared for {user.UserName}");
            InvokeAsync(async () => await LoadSharedUsersAsync());
        }
        catch (Exception e)
        {
            _toastService.AddErrorMessage(e.Message);
        }
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task DeleteShareForUserAsync(UserDto user)
    {
        try
        {
            await _apiService.PermissionRemoveAccess(
                PermissionAccessType.ApplicationRead,
                user.Id,
                _application.Id
            );
            _toastService.AddInfoMessage($"User access to the application has been removed");
            InvokeAsync(async () => await LoadSharedUsersAsync());
        }
        catch (Exception e)
        {
            _toastService.AddErrorMessage(e.Message);
        }
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task LoadSharedUsersAsync()
    {
        _isLoading = true;
        try
        {
            if (_application != null)
            {
                _sharedUsers = await _apiService.ApplicationGetSharedUsersAsync(_application.Id);    
            }
            else
            {
                _sharedUsers = new();
            }
        }
        catch (Exception e)
        {
            _toastService.AddServerErrorMessage();
        }
        finally
        {
            _isLoading = false;
        }
        await InvokeAsync(StateHasChanged);
    }
}
