.w-list-container {
    display: flex;
    flex-direction: column;
    
    .w-list {
        border-right: 1px solid;
        border-color: #ddd;
        flex: 1;
        position: relative;
        width: 300px;
        min-width: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 30%;
    
        
        ul {
            margin: 0;
            padding: 0;
    
            li {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                border-left: 2px solid transparent;
                white-space: nowrap;
                vertical-align: middle;
                color: #2c363a;
                border-bottom: 1px solid #f1f3f4;
                font-weight: 400;
                line-height: 35px;
                opacity: 0.9;
                cursor: pointer;
    
                &:hover {
                    opacity: 1;
                }

                & > div:first-child {
                    width: 100%;
                    padding-inline-end: 0.5rem;
                    
                    &.w-has-icon {
                        width: calc(100% - 1.5rem);
                        padding-inline-end: 0;
                    }
                }
                
                & > .w-icon {
                    width: 1.5rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: end;
                    padding-block-start: 0.5rem;

                    & > ::deep span {
                        font-size: 1.2rem;
                    }
                }

                .w-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 1;
                    font-size: 90%;
                    color: #737677;
                    padding-right: .5rem;
                }

                .w-title-2 {
                    font-size: 90%;
                    color: #737677;
                    font-weight: lighter;
                }

                .w-sub-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    user-select: none;
                    padding-inline-start: 0.5rem;
                }
    
                &.w-selected {
                    background-color: #e8f5ff;
                    opacity: 1;
                }
            }
        }
    }
    
    .w-list-paginator {
        border-right: 1px solid;
        border-top: 1px solid;
        border-color: #ddd;
        
        .w-paginator-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 2rem!important;
            height: 35px;
            color: #737677;
            font-size: 80%;
            cursor: pointer;
            user-select: none;
            
            &:hover {
                color: black;
            }
            
            span {
                font-size: 0.75rem;
            }
            
            .w-text {
                font-size: 0.75rem;
            }
            
            ::deep .w-preloader {
                .spinner-border {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

