@page "/login"
@using OffLogs.Business.Common.Models.Api.Request.User
@inject IAuthorizationService _authorizationService

<h1>Please login</h1>

<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Login:
            <InputText @bind-Value="model.UserName" />
        </label>
    </p>
    <p>
        <label>
            Passowrd:
            <InputText @bind-Value="model.Password" />
        </label>
    </p>
    
    <button type="submit">Submit</button>
</EditForm>

@code
{
    private LoginRequestModel model = new();
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(model);
    }
    
    private async Task HandleSubmit()
    {
        var isValid = editContext.Validate();

        Console.WriteLine("aaaa: " + isValid);
        if (isValid)
        {
            _authorizationService.LoginAsync(model);
        }
        else
        {
        }
    }
}
