@page "/login"
@using OffLogs.Business.Common.Models.Api.Request.User
@using OffLogs.Web.Core.Constants
@inject IAuthorizationService _authorizationService
@inject NavigationManager _navigationManager

<h1>Please login</h1>

<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Login:
            <InputText @bind-Value="model.UserName" />
        </label>
    </p>
    <p>
        <label>
            Passowrd:
            <InputText @bind-Value="model.Password" type="password" />
        </label>
    </p>
    
    <button type="submit">Submit</button>
</EditForm>

@code
{
    private LoginRequestModel model = new();
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(model);
    }
    
    private async Task HandleSubmit()
    {
        var isValid = editContext.Validate();
        if (isValid)
        {
            try
            {
                var isLoggedIn = await _authorizationService.LoginAsync(model);
                if (isLoggedIn)
                {
                    _navigationManager.NavigateTo(SiteUrl.Dashboard);
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
        else
        {
        }
    }
}
