@page "/login"
@using OffLogs.Api.Common.Dto.RequestsAndResponses.Public.User
@using OffLogs.Web.Constants
@using OffLogs.Web.Core.Components.Form
@inject IAuthorizationService _authorizationService
@inject NavigationManager _navigationManager
@inject ToastService _toastService

<div class="card w-login-page">
    <div class="card-body">
        <h5 class="card-title">Login to your account</h5>
        <p class="card-text">
            <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <p>
                    @UserNameError
                    <CustomInputText Label="Login:"
                                     @bind-Value="model.UserName"
                                     ErrorMessage="@UserNameError" />
                </p>
                <p>
                    @PasswordError
                    <CustomInputText Label="Password:"
                                     @bind-Value="model.Password"
                                     type="password"
                                     ErrorMessage="@PasswordError" />
                </p>
                @if (_isLoading)
                {
                    <Preloader />
                }
                else
                {
                    <MyButton IsSubmit="true">Login</MyButton>
                }
            </EditForm>
        </p>
    </div>
</div>

@code
{
    private LoginRequest model = new();
    private EditContext _editContext;
    private bool _isLoading;

    private string UserNameError
    {
        get
        {
            var messages = _editContext.GetValidationMessages(() => model.UserName);
            return messages.FirstOrDefault();
        }
    }

    private string PasswordError
    {
        get
        {
            var messages = _editContext.GetValidationMessages(() => model.Password);
            return messages.FirstOrDefault();
        }
    }

    protected override void OnInitialized()
    {
        _isLoading = false;
        _editContext = new EditContext(model);
    }

    private async Task HandleSubmit()
    {
        var isValid = _editContext.Validate();
        if (isValid)
        {
            _isLoading = true;
            try
            {
                var isLoggedIn = await _authorizationService.LoginAsync(model);
                if (isLoggedIn)
                {
                    _navigationManager.NavigateTo(SiteUrl.Dashboard);
                    return;
                }
            }
            catch (Exception e)
            {
                _toastService.AddErrorMessage("Login or password is incorrect");
            }
            finally
            {
                _isLoading = false;
            }
        }
        StateHasChanged();
    }
}
