@page "/login"
@page "/{locale}/login"

@using OffLogs.Web.Resources
@using Microsoft.AspNetCore.Components
@using OffLogs.Api.Common.Dto.RequestsAndResponses.Public.User

@inherits BaseComponent

<div class="row d-flex px-3 justify-content-center">
    <div class="col-xl-4 p-3">
        <RadzenCard>
            <h2 class="mb-4">Login to your account</h2>
            <RadzenTemplateForm TItem="LoginRequest" Data="@model" Submit="HandleSubmit">

                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <div class="row">
                    <RadzenLabel
                        Text="Select secret file:"
                        class="col-sm-3 mb-3"/>
                    <InputFile
                        OnChange="OnSelectFiles"
                        class="w-100 mb-3 col"/>
                </div>

                <div class="row">
                    <RadzenLabel
                        Text="Password:"
                        class="col-sm-3 mb-3"/>
                    <RadzenPassword
                        @bind-Value="model.Password"
                        Placeholder="Enter password..."
                        Class="w-100 mb-3 col"/>
                </div>

                @if (_isLoading)
                {
                    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
                }
                else
                {
                    <RadzenButton
                        ButtonType="ButtonType.Submit"
                        Text="@AuthResources.Login"/>
                }
            </RadzenTemplateForm>

            <div class="row mt-5">
                <div class="col-md-3 mb-3 text-center">
                    @AuthResources.Login_DontHaveAnAccount
                </div>
                <div class="col text-center">
                    <RadzenButton
                        ButtonType="ButtonType.Submit"
                        Text="@AuthResources.Login_Registration"/>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>
