@using OffLogs.Web.Constants
@using OffLogs.Web.Constants.Bootstrap

<div class="alert alert-@Type.GetName()">
  @ChildContent
</div>

@code {

    [Parameter]
    public ColorType Type { get; set; } = ColorType.Primary;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}