<span class="material-icons @Class" @onclick="@OnClick">@IconType</span>

@code {

    [Parameter]
    public string IconType { get; set; } = "";
    
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}