<span class="w-icon icofont-@Name @Class" @onclick="@OnClick"></span>

@code {

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";
    
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
