@using OffLogs.Web.Core.Constants
<span class="material-icons @Class">@IconType</span>

@code {

    [Parameter]
    public string IconType { get; set; } = "";
    
    [Parameter]
    public string Class { get; set; } = "";
}