@using OffLogs.Web.Core.Helpers
@inject IJSRuntime _js;

<button 
  id="@IdString"
  class="btn btn-@Type @Class" 
  @onclick="@OnClick" 
  type="@(IsSubmit ? @"submit" : "button")">
  @ChildContent
</button>

@code {
  [Parameter]
  public bool IsHidden { get; set; } = false;
  
  [Parameter]
  public bool IsSubmit { get; set; } = false;
  
  [Parameter]
  public string Type { get; set; } = "primary";
  
  [Parameter]
  public string Class { get; set; }
  
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public EventCallback<MouseEventArgs> OnClick { get; set; }

  private int _id = Randomizer.GetNumber();
  private string IdString => $"js-my-button-{_id}";

  public void Click()
  {
    _js.InvokeVoidAsync("clickOnElement", IdString);
  }
}
