<button class="btn btn-@Type" @onclick="@OnClick" type="@(IsSubmit ? @"submit" : "button")">
  @ChildContent
</button>

@code {
  [Parameter]
  public bool IsSubmit { get; set; } = false;
  
  [Parameter]
  public string Type { get; set; } = "primary";
  
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public EventCallback<MouseEventArgs> OnClick { get; set; }
}
