@if (IsShow)
{
    <div class="w-preloader">
        <div class="spinner-border text-primary @Class">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsShow { get; set; } = true;
    
    [Parameter]
    public string Class { get; set; }
}