.w-custom-table {
  table {
    thead {
      tr {
        th {
          font-weight: bold;
        }
      }
    }

    tbody {
      td {
        font-size: 12px;
      }
    }

    .w-centered {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }  
}