@using OffLogs.Web.Resources
<div class="w-custom-table">
    <table class="table table-hover">
        <thead>
        <tr>
            @foreach (var col in Cols)
            {
                <th scope="col">@col.Name</th>    
            }
        </tr>
        </thead>
        <tbody>
        @ChildContent
        <tr>
            <td colspan="@Cols.Count">
                @if (IsLoading)
                {
                    <div class="w-centered">
                        <Preloader/>
                    </div>
                }
                @if (IsShowNotFound && !IsLoading)
                {
                    <div class="w-centered">
                        @CommonResources.TableItemsNotFound
                    </div>
                }
                @if (IsShowMoreBtn && !IsLoading)
                {
                    <div class="w-centered">
                        <MyButton OnClick="OnClickMoreBtn">
                            <Icon Name="arrow_circle_down"/>
                        </MyButton>
                    </div>
                }
            </td>
        </tr> 
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }
    
    [Parameter]
    public bool IsShowNotFound { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickMoreBtn { get; set; }
    
    [Parameter]
    public bool IsShowMoreBtn { get; set; }
    
    [Parameter]
    public ICollection<CustomTableRowModel> Cols { get; set; } = new List<CustomTableRowModel>();
}
