@using OffLogs.Web.Shared.Ui.Toast
@using OffLogs.Web.Core.Models.Toast
@using OffLogs.Web.Store.Shared.Toast
@using Fluxor

@inject ToastService _toastService
@inject IState<ToastMessagesState> _toastState

<div class="w-toast-container">
    @_toastState.Value.Messages.Count
    @foreach (var message in _toastState.Value.Messages)
    {
        <div class="mb-3">
            <ToastMessage Message="message"/>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _toastService.Start();
    }
}
