@inherits OffLogs.Web.Core.Components.BaseComponent

<b>Messagescount: @_state.Value.Messages.Count</b>

<div class="w-toast-container">
    @foreach (var message in _state.Value.Messages)
    {
        <div class="mb-3">
            <ToastMessage Message="message"/>
        </div>
    }
</div>
