COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=offlogs-production

# DATABASE
CONNECTION_STRING="Server=localhost,1444;Database=OffLogs; User Id=sa; Password=ShiR88S6hbS;"

#JWT
JWT_USER_KEY=""
JWT_APPLICATION_KEY=""

#KAFKA
KAFKA_SERVERS=10.12.0.4:29092,10.12.0.4:29093 
KAFKA_PRODUCER_ID=offlogs-reducer-1
KAFKA_TOPIC_LOGS=offlogs-production-logs
KAFKA_TOPIC_NOTIFICATION=offlogs-notification-logs
KAFKA_CONSUMER_CLIENT_ID=client-1

#SMTP
SMTP_USERNAME=
SMTP_PASSWORD=