@page "/dashboard/logs"
@using OffLogs.Web.Services.Http
@using OffLogs.Business.Common.Models.Api.Request.Board
@using OffLogs.Business.Common.Models.Api.Response.Board
@inject IApiService _apiService

<h1>Logs</h1>

<table class="table table-hover w-table">
    <thead>
        <tr>
           <th>Name</th> 
        </tr>
    </thead>
    <tbody>
    @foreach (var log in _logs)
    {
        <tr>
            <td @onclick="OnClickRowAsync">@log.Message</td>
        </tr>    
    }
    </tbody>
</table>

@code
{
    private List<LogResponseModel> _logs = new();
    private int _currentPage = 1;
    private int _selectedApplicationId = 1;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadListAsync(false);
    }

    private async Task LoadListAsync(bool isLoadNextPage = true)
    {
        if (isLoadNextPage)
        {
            _currentPage++;
        }
        var response = await _apiService.GetLogs(new LogListRequestModel()
        {
            ApplicationId = _selectedApplicationId,
            Page = _currentPage
        });
        _logs = response.Items.ToList();
        StateHasChanged();
    }

    private async Task OnClickRowAsync()
    {
        Console.WriteLine("asdads");
    }
}
