@page "/dashboard/logs"
@using OffLogs.Web.Services.Http
@using OffLogs.Business.Common.Models.Api.Request.Board
@using OffLogs.Business.Common.Models.Api.Response.Board
@using OffLogs.Web.Shared.Ui.Form.CustomDropDown
@using System.Collections
@inject IApiService _apiService

<h1>Logs</h1>

<CustomAsyncDropDown
    NonSelectedLabel="Select your application"
    OnLoad="@(async () => await OnLoadApplicationsAsync())"
    OnChanged="OnSelectedApplicationAsync"
/>

<table class="table table-hover w-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var log in _logs)
    {
        <tr @onclick="OnClickRowAsync">
            <td>@log.Message</td>
            <td>@log.Level</td>
            <td>@log.LogTime.ToShortTimeString()</td>
            <td></td>
        </tr>    
    }
    </tbody>
</table>

@code
{
    private List<LogResponseModel> _logs = new();
    private int _currentPage = 1;
    private int _selectedApplicationId = 1;

    private CustomDropDown _selectApplications { get; set; }

    private List<DropDownListItem> _listItems = new() {};

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadListAsync(false);
    }

    private async Task LoadListAsync(bool isLoadNextPage = true)
    {
        if (isLoadNextPage)
        {
            _currentPage++;
        }
        var response = await _apiService.GetLogs(new LogListRequestModel()
        {
            ApplicationId = _selectedApplicationId,
            Page = _currentPage
        });
        _logs = response.Items.ToList();
        StateHasChanged();
    }

    private async Task OnClickRowAsync()
    {
        Console.WriteLine("asdads");
    }

    private async Task OnSelectedApplicationAsync(DropDownListItem selectListItem)
    {
        if (selectListItem != null)
        {
            _selectedApplicationId = selectListItem.IdAsInt;
            _currentPage = 1;
            LoadListAsync();
        }
        await Task.CompletedTask;
    }

    private async Task<ICollection<DropDownListItem>> OnLoadApplicationsAsync()
    {
        var applications = await _apiService.GetApplications();
        return applications.Items.Select(record => new DropDownListItem()
        {
            Id = $"{record.Id}",
            Label = record.Name
        }).ToList();
    }
}
