@page "/"

@using OffLogs.Web.Pages.Landing.Shared;
@using OffLogs.Web.Resources

@layout Layout
@inherits BaseComponent

<h2>@LandingPageResources.Main_Title</h2>
<p>@LandingPageResources.Main_Desc</p>

<h2>@LandingPageResources.Main_HowItWorks_Title</h2>
<p>
    <Markdown MarkdownText="@LandingPageResources.Main_HowItWorks_Desc"/>
</p>
