@using OffLogs.Web.Shared.Ui.NavigationLayout.Models

<div class="w-menu-container">
    <MenuHeader MenuTitle="@MenuTitle"/>
    @if (MenuItems.Any())
    {
        <div class="w-navigation-layout-menu">
            <ul>
                @foreach (var menuItem in MenuItems)
                {
                    <li 
                        @onclick="@(() => OnSelectMenuItem(menuItem))" 
                        class="@GetButtonClass(menuItem)"
                    >
                        <i class="icofont-@menuItem.Icon"></i>
                        @menuItem.Title
                    </li>
                }
            </ul>
        </div>    
    }
</div>

@code {

    [CascadingParameter(Name = "Layout")]
    public NavigationLayout Layout { get; set; }

    [Parameter]
    public MenuItem SelectedItem { get; set; }

    [Parameter]
    public ICollection<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    [Parameter]
    public string MenuTitle { get; set; } = "Menu title";

    public void OnSelectMenuItem(MenuItem menuItem)
    {
        Layout.SelectItem(menuItem);
    }

    private string GetButtonClass(MenuItem menuItem)
    {
        var result = new List<string>();
        if (SelectedItem?.Id == menuItem.Id)
        {
            result.Add("w-selected");
        }
        return string.Join(" ", result);
    }

}
