@using QRID.Mail.UI.Shared.Layout.Navigation.Models
@using QRID.Mail.UI.Shared.Layout;

<div class="w-menu-container">
    <MenuHeader MenuTitle="Menu Title"/>
    <div class="w-navigation-layout-menu">
        <ul>
            @foreach (var menuItem in MenuItems)
            {
                <li 
                    @onclick="@(() => OnSelectMenuItem(menuItem))" 
                    class="@(IsSelected(menuItem) ? "w-selected" : "")"
                >
                    <i class="icofont-@menuItem.Icon"></i>
                    @menuItem.Title
                </li>
            }
        </ul>
    </div>
</div>

@code {

    [CascadingParameter(Name = "Layout")]
    public NavigationLayout Layout { get; set; }

    [Parameter]
    public MenuItem SelectedItem { get; set; }

    [Parameter]
    public ICollection<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    [Parameter]
    public string MenuTitle { get; set; } = "Menu title";

    public void OnSelectMenuItem(MenuItem menuItem)
    {
        Layout.OnSelectMenuItem(menuItem);
    }

    public bool IsSelected(MenuItem menuItem)
    {
        return SelectedItem?.Id == menuItem.Id;
    }
}
