.w-menu-header {
    background-color: #0075c8;
    height: 58px;
    color: white;
    display: flex;

    .w-title {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        padding-block-start: 16px;
        color: white;
        margin-inline-start: 0.7rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
}

