@page "/dashboard/settings"
@page "/{locale}/dashboard/settings"

@using OffLogs.Web.Resources

@layout Layout
@inherits BaseComponent

<RadzenCard class="m-3">
    <h3 class="h5">@UserResources.UserEmails</h3>
    <div class="d-flex flex-row">
        My emails :)
    </div>
</RadzenCard>
