@page "/dashboard/settings"
@page "/{locale}/dashboard/settings"

@using OffLogs.Web.Resources

@inherits BaseComponent

<RadzenCard class="m-3">
    <h3 class="h5">@CommonResources.Settings</h3>
    <div class="d-flex flex-row">
        My settings :)
    </div>
</RadzenCard>
