@using OffLogs.Web.Services.Http
@using OffLogs.Web.Core.Models.Modal
@using OffLogs.Web.Constants
@using OffLogs.Web.Resources
@using OffLogs.Api.Common.Dto.Entities
@using OffLogs.Web.Constants.Bootstrap
@inject IApiService _apiService
@inject ToastService _toastService

<h3>@_title</h3>

@if (_isLoading)
{
    <Preloader />
}
else
{
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>Name:</b> @_application.Name
        </li>
        <li class="list-group-item text-break">
            <b>ApiToken:</b> @_application.ApiToken
        </li>
    </ul>
}

@code {
    [Parameter]
    public long? ApplicationId { get; set; }

    private bool _isLoading { get; set; }
    private ApplicationDto _application { get; set; }

    private string _title {
        get {
            if (_application != null)
            {
                return _application.Name;
            }
            return "Application info";
        }
    }

    private List<ModalButtonModel> _modalButtons = new ()
    {
        new (
            "Cancel",
            null,
            ColorType.Light
        )
    };

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        _isLoading = false;
        if (ApplicationId == null)
        {
            _application = null;
            return;
        }
        if (ApplicationId != _application?.Id)
        {
            await LoadApplicationAsync();
        }
    }

    protected async Task LoadApplicationAsync()
    {
        if (!ApplicationId.HasValue)
        {
            _application = null;
            return;
        }
        _isLoading = true;
        try
        {
            _application = await _apiService.GetApplicationAsync(ApplicationId.Value);
            if (_application == null)
            {
                _toastService.AddInfoMessage(CommonResources.Error_LogNotFound);
            }
        }
        catch (Exception e)
        {
            _toastService.AddServerErrorMessage();
            Console.WriteLine(e.Message, e);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }
}
