@inject IAuthorizationService _authService
@inject NavigationManager _navigationManager
@using OffLogs.Web.Core.Extensions
@using OffLogs.Web.Core.Constants
@inherits LayoutComponentBase

<div class="page">
    
    @if (_isShowMainMenu)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>    
    }

    <div class="main">
        @if (_isShowMainMenu)
        {
            <div class="top-row px-4">
                <a href="/" target="_blank" class="ml-md-auto">Logout</a>
            </div>  
        }

        @_isLoggedIn

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private bool _isLoggedIn = false;

    private bool _isShowMainMenu => _isLoggedIn && _navigationManager.GetPath().StartsWith(SiteUrl.Dashboard);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _navigationManager.LocationChanged += (sender, args) =>
        {
            CheckIsLoggedInAndRedirect();    
        };

        await _authService.CheckIsLoggedInAsync();
        CheckIsLoggedInAndRedirect();
    }

    private void CheckIsLoggedInAndRedirect()
    {
        _isLoggedIn = _authService.IsLoggedIn();
        if (!_isLoggedIn && !_navigationManager.GetPath().StartsWith("/login"))
        {
            _navigationManager.NavigateTo("/login");
        }
    }
}
