@using OffLogs.Web.Core.Extensions
@using OffLogs.Web.Services.Events
@using OffLogs.Web.Shared.Ui.Toast
@using OffLogs.Web.Resources
@using OffLogs.Web.Store.Shared.Toast
@using Fluxor

@inherits LayoutComponentBase

<div class="page" @onclick="OnClickDocument">

    @if (_isShowMainMenu)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    @if (_isInitialized)
    {
        <div class="main">
            @if (_isShowMainMenu)
            {
                <div class="top-row px-4">
                    <a @onclick="OnLogout"
                       href="#"
                       class="ml-md-auto">
                        @AuthResources.Logout
                    </a>
                </div>
            }

            <div class="content px-4">
                @Body
            </div>
            <ToastMessageContainer/>
        </div>
    }
    
    @if (!_isShowReCaptcha)
    {
        <style>
            .grecaptcha-badge { 
                visibility: hidden;
            }
        </style>
    }
</div>
