@inject IAuthorizationService _authService
@inject NavigationManager _navigationManager
@using OffLogs.Web.Core.Extensions
@using OffLogs.Web.Services.Http
@inherits LayoutComponentBase

<div class="page">
    
    @if (_isLoggedIn)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>    
    }

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        
        @_isLoggedIn
        
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private bool _isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _navigationManager.LocationChanged += (sender, args) =>
        {
            CheckIsLoggedInAndRedirect();    
        };

        await _authService.CheckIsLoggedInAsync();
        CheckIsLoggedInAndRedirect();
    }

    private void CheckIsLoggedInAndRedirect()
    {
        _isLoggedIn = _authService.IsLoggedIn();
        if (!_isLoggedIn && !_navigationManager.GetPath().StartsWith("/login"))
        {
            _navigationManager.NavigateTo("/login");
        }
    }
}
