@inject IAuthorizationService AuthService
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    
    @if (_isLoggedIn)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>    
    }

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private bool _isLoggedIn = false;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        NavigationManager.LocationChanged += (sender, args) =>
        {
            CheckIsLoggedInAndRedirect();    
        };

        CheckIsLoggedInAndRedirect();
    }

    private void CheckIsLoggedInAndRedirect()
    {
        _isLoggedIn = AuthService.IsLoggedIn();
        if (!_isLoggedIn)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
