@using OffLogs.Web.Shared.Ui.Toast

@inherits BaseLayout

<div class="page" @onclick="OnClickDocument">
    @if (_isShowMainMenu)
    {
        <NavMenu />
    }

    @if (CommonState.Value.IsInitialized)
    {
        <div class="main">
            <div class="container-fluid">
                @Body
            </div>
            <ToastMessageContainer/>
        </div>
    }
    
    @if (!_isShowReCaptcha)
    {
        <style>
            .grecaptcha-badge { 
                visibility: hidden;
            }
        </style>
    }
</div>
