@using OffLogs.Web.Shared.Ui
@using OffLogs.Web.Constants
@using OffLogs.Web.Store.Auth.Actions

@inherits BaseComponent

@inject NavigationManager _navigationManager

<div class="w-left-menu">
    <div class="w-task-menu">
        <NavLink href="@SiteUrl.Dashboard" Match="NavLinkMatch.All">
            <i class="icofont-dashboard-web"></i>
        </NavLink>
        <NavLink href="@SiteUrl.DashboardApplications" Match="NavLinkMatch.All">
            <i class="icofont-box"></i>
        </NavLink>
        <NavLink href="@SiteUrl.DashboardLogs" Match="NavLinkMatch.All">
            <i class="icofont-inbox"></i>
        </NavLink>
        <NavLink href="@SiteUrl.DashboardSettings" Match="NavLinkMatch.All">
            <i class="icofont-settings-alt"></i>
        </NavLink>
        <a @onclick="OnLogout"
           href="#"
           class="ml-md-auto">
            <i class="icofont-logout"></i>
        </a>
    </div>
</div>

@code 
{
    private Task OnLogout()
    {
        Dispatcher.Dispatch(new LogoutAction());
        _navigationManager.NavigateTo("/");
        return Task.CompletedTask;
    }
}
