@page "/"
@inherits OffLogs.Web.Core.Components.BaseComponent

<h1 class="w-test">
    <NavLink href="@SiteUrl.Dashboard">Dashboard</NavLink>
</h1>

<b>Messagescount: @_state.Value.Messages.Count</b>

<button @onclick="TestMessage">Test</button>

Welcome to your new app.
