@page "/"
@inherits OffLogs.Web.Core.Components.BaseComponent

<div class="w-test">
    <NavLink href="@SiteUrl.Dashboard">Dashboard</NavLink>
    <NavLink href="@SiteUrl.Registration_Step1">Registration</NavLink>
    <NavLink href="@SiteUrl.Documentation">Docs</NavLink>
</div>

<button @onclick="@(async () => await TestMessage())">Test</button>
