@using OffLogs.Web.Constants
@using OffLogs.Web.Constants.Bootstrap

<span class="badge bg-@(Color.GetBadgeClass()) @Class">
    @ChildContent
</span>

@code {
    [Parameter]
    public ColorType Color { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string Class { get; set; }
}
