@using Markdig
@using global::Markdown.ColorCode
@using OffLogs.Business.Common.Services.Web

<span class="w-markdown-block">
    @if (_html != null)
    {
        @((MarkupString) _html)
    }
</span>

@code {
    [Inject]
    private IMarkdownService MarkdownService { get; set; }
    
    [Parameter]
    public string MarkdownText { get; set; }
    
    private MarkupString? _html;
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateHtmlAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await UpdateHtmlAsync();
    }

    private Task UpdateHtmlAsync()
    {
        _html = new MarkupString(MarkdownService.ToHtml(MarkdownText));
        return Task.CompletedTask;
    }
}
