@page "/dashboard/settings/emails"
@page "/{locale}/dashboard/settings/emails"

@using OffLogs.Web.Resources

@layout Layout
@inherits BaseComponent

<RadzenCard class="m-3">
    <h3 class="h5">@CommonResources.Settings</h3>
    <div class="d-flex flex-row">
        My settings :)
    </div>
</RadzenCard>
