@page "/dashboard/main"
@page "/{locale}/dashboard/main"

@using OffLogs.Web.Resources
@using OffLogs.Web.Shared.Components

@layout Layout
@inherits BaseComponent

<RadzenCard class="m-3">
    <h3 class="h5">@CommonResources.LogsStatistic</h3>
    
    <div class="d-flex flex-row">
        
        <UserEmailsCheckbox />

        <LogStatisticChart/>
    </div>
</RadzenCard>

